{% extends 'home/base.html' %}

{% block title %}Dashboard - Wallet Tracker{% endblock %}

{% block content %}
<div class="welcome-container">
    <h2>Welcome to Wallet Tracker 💸</h2>
    <p>
        Take control of your personal finances with ease. Wallet Tracker helps you manage your income and expenses,
        view your financial balance in real time, and stay on top of your spending.
      </p>
      <p>
        To get started, simply <a href="/users/register/">register</a> for an account or <a href="/users/login/">log in</a> if you already have one.
      </p>
      <p>
        Your data is safe, secure, and only visible to you. Let's build better financial habits together!
      </p>
</div>     
{% endblock %}
