{% extends 'home/base.html' %}
{% block title %}Income - Wallet Tracker{% endblock %}

{% block content %}
    <h2>Your Incomes</h2>

    {% if incomes %}
         <p><strong>Total Income:</strong> ${{ total_income }}</p>
         <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                    <tr>
                        <td>{{ income.title }}</td>
                        <td>${{ income.amount }}</td>
                        <td>{{ income.category }}</td>
                        <td>{{ income.date }}</td>
                        <td>
                            <a href="{% url 'edit_income' income.id %}">Edit</a> |
                            <a href="{% url 'delete_income' income.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No income records found.</p>
    {% endif %}
{% endblock %}
