{% extends 'home/base.html' %}

{% block title %}Expenses - Wallet Tracker{% endblock %}

{% block content %}
    <h2>Your Expenses</h2>

    {% if expenses %}
        <table border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.title }}</td>
                        <td>${{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td>{{ expense.date }}</td>
                         <td>
                            <a href="{% url 'edit_expense' expense.id %}">Edit</a> |
                            <a href="{% url 'delete_expense' expense.id %}">Delete</a>
                        </td>
                            
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No expenses recorded yet.</p>
    {% endif %}
{% endblock %}
